@use '../abstracts/mixins' as *;
@use '../abstracts/colors' as *;

.emprenya-tools {

    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1.5rem 0;

        // 1110px
        @include for-size(69.375em) {
            padding: 0 1.5rem;
        }

        // 1000px
        @include for-size(62.5em) {
            flex-direction: column;
        }

        // 720px
        @include for-size(45em) {
            padding-left: 0;
        }
    }

    &__main-logo {
        height: 4.9rem;
        width: 22.1rem;
    }

    &__ya {
        display: flex;
        justify-content: center;
        gap: 2rem;

        // 720px
        @include for-size(45em) {
            flex-direction: column;
            padding-left: 2rem;
        }

        &-image {
            text-align: center;

            // 720px
            @include for-size(45em) {
                text-align: start;
            }
        }

        &-img {
            // width: 10rem;
            // height: 2.7rem;
        }
    }

    &__ya-image {
        transition: all .3s;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__navbar-small {
        // 720px
        @include for-size(45em) {
            display: none;
        }
    }
}

.navbar {
    padding: 0!important;
}

.btn-close {
    filter: brightness(0) invert(1) !important;
    
}