.fs-ultraSmall {
  font-size: 1rem;
}

.fs-smSmall {
  font-size: 1.3rem;
}

.fs-smSmallMed {
  font-size: 1.25rem;
}

.fs-smSmall2 {
  font-size: 1.125rem;
}

.fs-sm {
  font-size: 1.4rem;
}

.fs-smMedium {
  font-size: 1.5rem;
}

.fs-smBig {
  font-size: 1.6rem;
}

.fs-smBigDecimal {
  font-size: 1.625rem;
}

.fs-smBigger {
  font-size: 1.75rem;
}

.fs-smBiggerInt {
  font-size: 1.8rem;
}

.fs-mdSmall {
  font-size: 2.3rem;
}

.fs-md {
  font-size: 2.5rem;
}

.fs-mdBig {
  font-size: 2.6rem;
}

.fs-md2 {
  font-size: 2.8125rem;
}

.fs-mdBig {
  font-size: 3.3rem;
}

.fs-big {
  font-size: 4rem;
}

.fs-bigger {
  font-size: 4.5rem;
}

.prueba {
  transition: all .5s;
}